<!DOCTYPE html>
<html>
 <head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <link rel="stylesheet" href="templates/main.css">

 </head>
 <body class="details">

    <!-- MENU (LINK BAR) -->
    <div class="links">
       <ul>
           <li><a href="https://github.com/V1A0/VkScrapper">GitHub</a></li>
           <li><a href="https://github.com/V1A0/VkScrapper/blob/master/README.md">Readme</a></li>
           <li><a href="https://github.com/V1A0/VkScrapper/blob/master/FAQ.md">FAQ</a></li>
           <li><a href="https://github.com/V1A0/VkScrapper/issues/new">Bug report</a></li>
           <li><a href="https://github.com/V1A0">Author</a></li>
       </ul>
    </div>


    <div class="content">
         <h1>
VKS | Tracking results
       </h1>
<!-- %USERDATA% -->
    </div>
    <!-- CONTENT -->
    <div class="content">
       <h2>Statistic</h2>

<!-- %STATDATA% -->

       <h3>Last sessions</h3>


       <h2>License</h2>

       <h3 align="center">MIT License</h3>

       <p align="center">Copyright (c) 2019 V1A0</p>

       <license>
       <p>Permission is hereby granted, free of charge, to any person obtaining a copy
       of this software and associated documentation files (the "Software"), to deal
       in the Software without restriction, including without limitation the rights
       to use, copy, modify, merge, publish, distribute, sublicense, and/or sell
       copies of the Software, and to permit persons to whom the Software is
       furnished to do so, subject to the following conditions:</p>

       <p>The above copyright notice and this permission notice shall be included in all
       copies or substantial portions of the Software.</p>

       <p>THE SOFTWARE IS PROVIDED "AS IS", WITHOUT WARRANTY OF ANY KIND, EXPRESS OR
       IMPLIED, INCLUDING BUT NOT LIMITED TO THE WARRANTIES OF MERCHANTABILITY,
       FITNESS FOR A PARTICULAR PURPOSE AND NONINFRINGEMENT. IN NO EVENT SHALL THE
       AUTHORS OR COPYRIGHT HOLDERS BE LIABLE FOR ANY CLAIM, DAMAGES OR OTHER
       LIABILITY, WHETHER IN AN ACTION OF CONTRACT, TORT OR OTHERWISE, ARISING FROM,
       OUT OF OR IN CONNECTION WITH THE SOFTWARE OR THE USE OR OTHER DEALINGS IN THE
       SOFTWARE.</p>
       </license>


    </div>


 </body>
</html>